body {
    /* background-color: lemonchiffon; */
    background-color: lightgoldenrodyellow;
    font-family: Garamond, Courier, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    color: orange;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding-left: 0%;
        padding-right: 0%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.navbarLinks {
    display: flex;
    gap: 10px;
    align-items: center;
}

a {
    color: orange;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: black;
}

a:active {
    font-weight: bolder;
}

.sections {
    display: flex;
    text-align: justify;
    gap: 2%;
}

@media screen and (max-width: 700px) {
    .sections {
        padding-left: 0%;
        padding-right: 0%;
        flex-direction: column;
    }
}

.sectionsP {
    display: flex;
    flex-direction: column;
}

.sectionP {
    display: flex;
}

.aboutmeP {
    margin-block-start: 0;
}

.aboutmeAvatar {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    .aboutmeAvatar {
        display: none;
    }
}

.aboutmeImage {
    max-width: 50%;
    height: auto;
}

@media screen and (max-width: 700px) {
    .aboutmeImage {
        align-content: flex-start;
        max-width: 100%;
        height: auto;
    }
}

.portfolioCards {
    max-width: 95%;
    height: auto;
}

.footer {
    display: flex;
    list-style: none;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        padding-left: 0%;
        padding-right: 0%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}